code2blog_dfdl_v2_slib/fixed_length_with_trailer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="fixed_length_with_trailer">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:initiator="head_" dfdl:lengthKind="delimited" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:length="10" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="head_valu1" name="head_elem1" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                				<xsd:element dfdl:initiator="body_" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body_animal">
          <xsd:complexType>

	<xsd:sequence>
		<xsd:element default="cat" dfdl:length="5" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="dog" name="type" type="xsd:string" >
			<xsd:annotation>
				<xsd:appinfo source="http://www.ogf.org/dfdl/">
					<dfdl:discriminator test='{. eq "dog"}' />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:element>
   		<xsd:element default="car crash" dfdl:length="15" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="bike accident" name="death_by" type="xsd:string" />
    </xsd:sequence>

          </xsd:complexType>
        </xsd:element>
                <xsd:element dfdl:initiator="body_" dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit" maxOccurs="unbounded" minOccurs="0" name="body_human">
					<xsd:complexType>
	
	<xsd:sequence>
		<xsd:element default="woman" dfdl:length="5" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="man" name="type" type="xsd:string">
			<xsd:annotation>
				<xsd:appinfo source="http://www.ogf.org/dfdl/">
					<dfdl:discriminator test='{. eq "man"}' />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:element>
        <xsd:element default="car crash" dfdl:length="15" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="bike accident" name="death_by" type="xsd:string"/> 
    </xsd:sequence>
	
					</xsd:complexType>
				</xsd:element>
                				                <xsd:element dfdl:initiator="trail_" dfdl:lengthKind="delimited" name="trailer"> 
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:length="13" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="trailer_valu1" name="trailer_elem1" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>