ComplexXml_IS/validate.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema
 xmlns:art="http://schemas.datacontract.org/2004/07/Artefacts.BoardPlus.ServiceModel"
xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays" 
xmlns:tem="http://tempuri02.org/" 
attributeFormDefault="unqualified" elementFormDefault="qualified"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://schemas.datacontract.org/2004/07/Artefacts.BoardPlus.ServiceModel" />
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantRequest">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="art:BoardingFileFormat" />
              <xs:element ref="art:ClientId" />
              <xs:element ref="art:MaintainTerminalCommand" />
              <xs:element ref="art:Merchant" />
              <xs:element ref="art:ProcessorId" />
              <xs:element ref="art:TimeZone" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="userToken" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>