GlobalCacheDemo_V1_APP/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="LASTNAME" type="xsd:string"/>
  <xsd:element name="EMPLOYEE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EMPNO"/>
        <xsd:element ref="FIRSTNAME"/>
        <xsd:element ref="LASTNAME"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EMPNO" type="xsd:int"/>
  <xsd:element name="FIRSTNAME" type="xsd:string"/>
</xsd:schema>