NoMQ_APP/note.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="note">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="to"/>
        <xsd:element ref="from"/>
        <xsd:element ref="heading"/>
        <xsd:element ref="body"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="heading" type="xsd:string"/>
  <xsd:element name="from" type="xsd:string"/>
  <xsd:element name="to" type="xsd:string"/>
  <xsd:element name="body" type="xsd:string"/>
</xsd:schema>