WindowsCommands_V1_IS/WindowsCommands_V1_IS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WindowsCommands_V1_IS" targetNamespace="http://WindowsCommands_V1_IS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://WindowsCommands_V1_IS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="WindowsCommands_V1_ISHttpBinding" originalBindingStyle="document"/>
        <generatedXSD location="WindowsCommands_V1_IS_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  <wsdl:types>
    
        <xsd:schema targetNamespace="http://WindowsCommands_V1_IS" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
      <xsd:include schemaLocation="WindowsCommands_V1_IS_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="batchScriptDemoRequestMsg">
    <wsdl:part element="tns:batchScriptDemo" name="batchScriptDemoParameters"/>
  </wsdl:message>
  <wsdl:message name="batchScriptDemoResponseMsg">
    <wsdl:part element="tns:batchScriptDemoResponse" name="batchScriptDemoResult"/>
  </wsdl:message>
    <wsdl:message name="syslogDemoRequestMsg">
    <wsdl:part element="tns:syslogDemo" name="syslogDemoParameters"/>
  </wsdl:message>
    <wsdl:message name="syslogDemoResponseMsg">
    <wsdl:part element="tns:syslogDemoResponse" name="syslogDemoResult"/>
  </wsdl:message>
    <wsdl:portType name="WindowsCommands_V1_IS">
    <wsdl:operation name="batchScriptDemo">
      <wsdl:input message="tns:batchScriptDemoRequestMsg" name="batchScriptDemoRequest"/>
      <wsdl:output message="tns:batchScriptDemoResponseMsg" name="batchScriptDemoResponse"/>
    </wsdl:operation>
        <wsdl:operation name="syslogDemo">
      <wsdl:input message="tns:syslogDemoRequestMsg" name="syslogDemoRequest"/>
      <wsdl:output message="tns:syslogDemoResponseMsg" name="syslogDemoResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="WindowsCommands_V1_ISHttpBinding" type="tns:WindowsCommands_V1_IS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="batchScriptDemo">
            <soap:operation soapAction="http://WindowsCommands_V1_IS/batchScriptDemo"/>
            <wsdl:input name="batchScriptDemoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="batchScriptDemoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="syslogDemo">
      <soap:operation soapAction="http://WindowsCommands_V1_IS/syslogDemo"/>
      <wsdl:input name="syslogDemoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="syslogDemoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="WindowsCommands_V1_ISHttpService">
    <wsdl:port binding="tns:WindowsCommands_V1_ISHttpBinding" name="WindowsCommands_V1_ISHttpPort">
      <soap:address location="http://localhost:7800/WindowsCommands_V1_IS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>